body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    }
    
    .container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    
    h1 {
    text-align: center;
    margin-bottom: 20px;
    }
    
    form label {
    display: block;
    margin-top: 10px;
    }
    .smallbox{
      flex:0 0 50px
    }
    form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
input:focus, select:focus,textarea:focus{
    background-color:rgb(220,225,220);
}
    
    button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #0056b3;
    }
    
    
    